<html lang="en">
    <head>
        <%- include('./partials/header') %>
    </head>
    <body>
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center">Scribblr</h1>
            <p class="text-muted">An online collaborative drawing app</p>
            <div class="cards">
                <!-- TODO: List available rooms -->
            </div>
            <form id="createRoom">
                <button type="submit" class="btn btn-primary">Create Room</button>
            </form>
            <!--<nav>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>-->
        </div>

        <%- include('./partials/footer') %>
        <script>
            const socket = io();

            document.getElementById('createRoom').addEventListener('submit', e => {
                e.preventDefault();
                socket.emit('ROOM_CREATE', (roomId) => {
                    window.location.replace(`/canvas/${roomId}`);
                });
            });

        </script>
    </body>
</html>